# OLAP и OLTP

Системы управления базами данных можно условно разделить на классы по решаемым задачам:
- OLAP (Online Analytical Processing)
- OLTP (Online Transactional Processing)
- HTAP (Hybrid transactional/analytical processing)

Разделение не четкое, системы могут тяготеть в одну или другую сторону, но в любом случае их архитектура зависит от области применения:

*OLAP* - системы для выполнения аналитических запросов на больших объемах данных. Поддержка транзакций минимальна, данные неизменяемы или запросы на изменение данных ограничены и неэффективны. Табличные данные чаще всего хранятся по **колонкам**. Пример: анализ транзакций по карточкам клиентов банка, построение аналитики, предложение продуктов, генерация выписок по счетам. 

*OLTP* - системы для параллельных манипуляций с данными в реальном времени. Поддерживает транзакции, быструю вставку и изменение данных, безопасность и резервное копирование. Аналитические запросы могут быть неэффективными. Транзакции должны быть короткими. Пример - хранение профилей пользователей на веб-сайте. 

*HTAP* - гибридные транзакционную/аналитические системы обработки данных. Это подход, который позволяет одновременно выполнять операции 
транзакционной обработки (например, вставку, обновление, удаление данных) и аналитические запросы (например, агрегирование, анализ) на 
одной и той же базе данных в реальном времени.

Примеры OLAP/HTAP систем: 

`ClickHouse`, `TiDb`, `Vertica`, `Greenplum`,

`Presto`, `Apache Spark` (post-Hadoop)

`DuckDB` (in-process)

In [ ]:
import sqlalchemy
from sqlalchemy import text

engine = sqlalchemy.create_engine(
    "sqlite:///:memory:"
)

with engine.begin() as conn:
    conn.execute(
        text(
        """
            CREATE TABLE IF NOT EXISTS my_table(
                name VARCHAR(40),
                age INT
            );
        """
        )
    )
    with engine.begin() as tx:
        tx.execute(
            text("INSERT INTO my_table (name, age) VALUES ('Ivan', '25');")
        )

        tx.execute("SELECT * FROM my_table;")

        tx.execute(
            text("INSERT INTO my_table (name, age) VALUES ('Petr', '35');")
        )

        tx.rollback()